@use '../../styles/mixin.scss' as mixin;

.layoutAllGamesContainer {
  margin: 0;
  width: 100%;
}

@include mixin.desktop {
  .layoutAllGamesContainer {
    width: 97%;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
  }
}
