/* .register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #d9edff;
} */
.table-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  background-color: white;
  box-shadow: 0 0 40px rgba(0,0,0,0.16);
  overflow: hidden;
  margin: 0 auto;
  border-radius: 12px;
}

.table{
  width: 100%;
}

@media screen and (max-width: 1023px) {
  .table-container{
    max-width: 95%;
  }
  /* 
  .illustration-wrapper {
    max-width: 100%;
    min-height: auto;
  }
  
  #register-form {
    max-width: 100%;
  } */
}