@use "../../styles/mixin" as mixin;

.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  @include mixin.phone {
    flex-direction: column;
    gap: 0;
  }
}

// @use "../../styles/mixin" as mixin;

// .TableContainer{
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   max-width: 1000px;
//   background-color: white;
//   box-shadow: 0 0 40px rgba(0,0,0,0.16);
//   overflow: hidden;
//   margin: 0 auto;
//   border-radius: 12px;
//   @include mixin.tablet {
//     max-width: 95%;
//   }
//   @include mixin.phone {
//     display: none;
//   }
// }

// .TableContainerSmall {
//   width: 100%;
//   display: none;
//   @include mixin.phone {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }
// }

// @media screen and (max-width: 1450px) {
//   .TableContainer{
//     max-width: 95%;
//   }
// }

// @media screen and (max-width: 850px) {
//   .TableContainer{
//     display: none;
//   }
//   .TableContainerSmall {
    
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }

// }







/* .TableContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  background-color: white;
  box-shadow: 0 0 40px rgba(0,0,0,0.16);
  overflow: hidden;
  margin: 0 auto;
  border-radius: 12px;
} */

/* .Table{
  width: 100%;
} */

/* .Image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 10%;
} */

/* .VerticallyCenter {
  display: flex;
  align-items: center;
  height: 100%;
} */

/* .ImagePop {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10%;
} */

/* .ImageSmall {
  display: none;
} */

/* .TableContainerSmall {
  display: none;
} */

/* .TagsContainer{
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
} */

/* @media screen and (max-width: 1450px) {
  .TableContainer{
    max-width: 95%;
  }
  .PopElement {
      display: none;
  } */
  /* .ImageSmall {
    display: block;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 10%;
    display: flex;
  }
} */

/* @media screen and (max-width: 850px) {
  .TableContainer{
    display: none;
  }
  .TableContainerSmall {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .List{
    width: 90%;
    border-radius: 12px;
    background-color: white;
    padding: 10px;
  }
  .TagsContainerSmall {
    display: flex;
    width: 40%;
    justify-content: center;
    overflow-x: hidden;
  }
  .ImageHolderSmall {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .Image {
    justify-self: center;
    align-self: center;
  }
} */