@use '../../../../styles/variables.scss' as variables;
@use '../../../../styles/mixin.scss' as mixin;

.gameListContainer {
  margin-left: 80px;
  animation: showAnimation 0.3s linear;
  @keyframes showAnimation {
    0% {
      opacity: 0;
      transform: scale(0.96);
    }

    60% {
      opacity: 1;
    }
    100% {
      transform: none;
    }
  }
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: rgb(251, 251, 251);
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 14px 30px rgba(103, 132, 187, 0.15),
    0 4px 4px rgba(103, 132, 187, 0.05);
  display: inline-grid;
  grid-template-columns: 48px auto;
  position: relative;
  text-align: left;
  min-height: 80px;

  .gameRankNumber {
    color: rgb(139, 160, 178);
    display: flex;
    font-size: 1.4rem;
    font-weight: 900;
    height: 50px;
    left: -70px;
    line-height: 0;
    padding: 10px;
    position: absolute;
    text-align: left;
    top: 18px;
    width: 50px;
    z-index: 2;
    align-items: center;
    border-radius: 50%;

    & .gameRankHash {
      font-size: 1.8rem;
      padding-top: 4px;
      color: rgba(139, 160, 178, 0.7);

      line-height: 0;
    }
  }

  .gameLink {
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    background-color: transparent;
    .gameImage {
      opacity: 1;
      height: 100%;
      left: 0;
      object-fit: cover;
      position: absolute;
      top: 0;
      transition: opacity 0.3s ease-in-out;
      width: 100%;
      vertical-align: text-top;
    }
  }

  .gameContent {
    padding: 8px 16px;
    padding-right: 8px;
    min-width: 0;
    align-items: center;
    display: grid;
    grid-template-columns: minmax(auto, calc(100% - 440px)) 130px 130px 150px;
    grid-gap: 10px;
    color: rgb(100, 115, 128);
    font-size: 0.7rem;
    font-weight: 600;

    .gameTitle {
      div:first-child {
        color: rgb(81, 97, 112);
        font-size: 0.9rem;
        font-weight: 600;
        margin-bottom: 8px;
        a {
          color: inherit;
          text-decoration: none;
          transition: 0.15s ease-in-out;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .gameGenres {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        height: 18px;
        overflow: hidden;
        margin-left: -2px;
      }
    }

    .gameRating {
      & span {
        position: relative;
        top: auto;
        left: auto;
        font-size: 0.9rem;
        vertical-align: top;
        width: 1.25em;
      }

      & div {
        display: inline-block;
        padding-left: 5px;
        & div {
          margin-top: 5px;
          padding-left: 0px;
          display: block;
        }
      }
    }
  }
}
