.colGameCardContainer {
  position: relative;
  margin-bottom: 8px;

  animation: showAnimation 0.3s linear;
  @keyframes showAnimation {
    0% {
      opacity: 0;
      transform: scale(0.96);
    }

    60% {
      opacity: 1;
    }
    100% {
      transform: none;
    }
  }

  .buttonGameHovershow {
    display: none;
    position: absolute;
    bottom: 14px;
    right: 17px;
  }
  &:hover .buttonGameHovershow {
    display: block;
  }

  & .cardGameContainer {
    box-shadow: none;
    transition: box-shadow 0.3s ease-in-out;
    &:hover {
      box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16),
        0 3px 6px 0px rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);

      .metaGameDescription {
        & div {
          & div {
            color: var(--hover-color);
          }
        }
      }
    }
  }
}

:global(span.anticon-smile),
:global(span.anticon-frown),
:global(span.anticon-meh) {
  position: absolute;
  top: 20%;
  left: 80%;
  font-size: 2rem;
}
