@use "../../styles/mixin" as mixin;

.TableContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  background-color: white;
  box-shadow: 0 0 40px rgba(0,0,0,0.16);
  overflow: hidden;
  margin: 0 auto;
  border-radius: 12px;
  @include mixin.tablet {
    max-width: 95%;
  }
  @include mixin.phone {
    display: none;
  }
}

.TableContainerSmall {
  width: 100%;
  display: none;
  @include mixin.phone {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}