@use '../../styles/mixin' as mixin;

// .FilterColumn{
//   @include mixin.tablet {
//     display: none;
//   }
// }

.mobileDropdown {
  display: none;
  padding: 1.5rem;
  @include mixin.phone {
    display: block;
  }
}
