@use "../../../styles/mixin" as mixin;

.filterDesktop {
  display: flex;
  flex-direction: column;
  padding: 10px;
  @include mixin.phone {
    display: none;
  }
}

.searchBar {
  margin: 15px 0px;
}

.multiListStyle {
  display: flex;
  gap: 8px;
  margin: 5px 0px;
}

.multiLists {
  margin: 4px 0px;;
}

.multiFilterStyle {
  display: flex;
  flex-direction: column;
  margin: 5px 0px;
  gap: 8px;
}