@use '../../styles/variables.scss' as variables;
@use '../../styles/mixin.scss' as mixin;

.layoutFiltersWrapperContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 110px;
  background-color: variables.$color-background;
  color: variables.$color-text;
  @include mixin.phoneSmall {
    height: 90px;
  }
}

.spaceFiltersWrapperContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.searchFiltersWrapperSearch {
  width: 80vw;
  flex-grow: 1;
  :global(.ant-btn) {
    background-color: variables.$color-navbar;
  }
}

.cascaderStyle {
  margin-bottom: 1.5rem;
}

.buttonFiltersWrapperButton {
  background-color: variables.$color-navbar;
}

.advancedSearchPopoverLoading {
  width: '600px';
  display: grid;
  gap: 30px;
}

:global(ul.ant-cascader-menu) {
  color: variables.$color-text-title;
  background-color: variables.$color-background;
}