@use '../../../../styles/variables.scss' as variables;

.tagsContainer {
  z-index: 5;
  position: relative;
  height: 3rem;
  align-items: center;
  display: flex;
  flex-wrap: wrap;

  .tagsIcon {
    font-size: 1.6rem;
    transform: scale(-1) rotate(90deg);
    margin-right: 16px;
  }

  .tagsText {
    animation: flipAnimation 1s ease-in-out;

    @keyframes flipAnimation {
      0% {
        opacity: 0;
        transform: scale(0.91);
      }
      60% {
        opacity: 1;
      }
      100% {
        transform: none;
      }
    }
    background: rgb(61, 180, 242);
    border-radius: 6px;
    color: variables.$color-white;
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 13px;
    margin-right: 12px;
    padding: 5px 8px;
    text-transform: capitalize;

    & span {
      font-size: 0.9rem;
      color: variables.$color-white;
    }
  }
}
