@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

$mobile-nav-width: 640px;

$background-color: rgba(105, 39, 211, 0.733);
$header-brand-color: white;

// Desktop Colors
$desktop-nav-item-color: white;
$desktop-nav-item-hover-color: rgba(206, 215, 221, 0.548);

$desktop-nav-dropdown-item-color: rgb(167, 168, 184);
$desktop-nav-dropdown-item-hover-color: rgb(109, 49, 158);

// Mobile Colors
$mobile-hamburger-color: black;

$mobile-nav-header-drawer-item-color: rgb(167, 168, 184);
$mobile-nav-header-drawer-item-hover-color : rgb(109, 49, 158);



.header {
  width: 100%;
  z-index: 30;
  background-color: $background-color;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

.header-spacing {
  max-width: 72rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
}

.header-brand {
  flex-shrink: 0;
  margin-right: 1rem;
}

.header-brand__icon {
  width: 2rem;
  height: 2rem;
  fill: currentColor;
  color: $header-brand-color;
}

// Desktop Version

.desktop-nav {
  display: flex;
  flex-grow: 1;
}

.desktop-nav__nav-section {
  display: flex;
  flex-grow: 1;
  justify-content: end;
  align-items: center;
  flex-wrap: wrap;
}

.desktop-nav__nav-item {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;

  a:link {
    color: $desktop-nav-item-color;
    text-decoration: none;
  }

  a:visited {
    color: $desktop-nav-item-color;
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
    color: $desktop-nav-item-hover-color;
  }

  a:active {
    text-decoration: none;
  }
}

.desktop-nav__popover-dropdown {
  width: 150px;
}

.desktop-nav__popover-dropdown-item {
  display: flex;
  align-items: center;

  padding-top: 0.2rem;
  padding-bottom: 0.2rem;

  color: $desktop-nav-dropdown-item-color;

  &:hover {
    color: $desktop-nav-dropdown-item-hover-color;
  }

  .desktop-nav__header-popover-icon {
    padding-right: 0.2rem;
  }
}

// Mobile Version

.mobile-nav {
  display: flex;
  flex-grow: 1;
  justify-content: end;
}

.mobile-nav__hamburger {
  color: $mobile-hamburger-color;
  font-size: 20px;
}

.mobile-nav__header-drawer {
  display: flex;
  flex-direction: row;

  :global(.ant-drawer-header-title) {
    display: flex;
    justify-content: end;
  }

  :global(.ant-drawer-header) {
    height: 5rem;
    padding: 0 1rem !important;
    flex: none !important;
    border-bottom: none !important;
  }

  :global(.ant-drawer-body) {
    padding: 0 24px !important;
  }

  :global(.ant-drawer-close) {
    margin-inline-end: 0 !important;
  }
}

.mobile-nav__header-drawer-item {
  font-size: x-large;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;

  a:link {
    color: $mobile-nav-header-drawer-item-color;
    text-decoration: none;
  }

  a:visited {
    color: $mobile-nav-header-drawer-item-color;
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
    color: $mobile-nav-header-drawer-item-hover-color;
  }

  a:active {
    text-decoration: none;
  }
}

@media (min-width: 640px) {
  .sm\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (max-width: $mobile-nav-width) {
  .desktop-nav {
    display: none;
  }
}

@media (min-width: $mobile-nav-width) {
  .mobile-nav {
    display: none;
  }
}