::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #aaa;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(63, 114, 175);
  border-radius: 8px;
}

.ant-table-cell {
  vertical-align: middle;
}
